---
- name: Update all servers
  hosts: all
  become: true
  tasks:
    - name: Update packages
      apt:
        update_cache: yes
        upgrade: dist
        autoremove: yes
- name: Ensure services are running
  hosts: backend
  become: true
  tasks:
    - name: Make sure RabbitMQ is running
      service:
        name: rabbitmq-server
        state: started
    - name: Make sure MySQL is running
      service:
        name: mysql
        state: started
- name: Ensure Apache is running
  hosts: frontend
  become: true
  tasks:
    - name: Restart apache2
      service:
        name: apache2
        state: restarted
- name: Ensure DMZ fetcher service is ready
  hosts: dmz
  become: true
  tasks:
    - name: Restart dmz-fetcher (ignore if missing)
      service:
        name: dmz-fetcher
        state: restarted
      ignore_errors: yes
